
$tooltip-un-center-arrow-offset: 16px;
$tooltip-arrow-height: 0.375rem;
$tooltip-arrow-width: 0.75rem !default;
$tooltip-arrow-color: rgba(0, 0, 0, 0.75) !default;
$tooltip-max-width: 350px !default;
$tooltip-padding-y: 0.375rem !default;
$tooltip-padding-x: 0.75rem !default;
$tooltip-color: #fff !default;
$tooltip-bg: rgba(0, 0, 0, 0.75) !default;
$tooltip-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15) !default;
$tooltip-content-min-height: 34px !default;
$tooltip-border-radius: 0.25rem !default;


.bl-tooltip {
    display: block;
    font-size: 14px;
    word-wrap: break-word;
    // opacity: 0;

    &.show {
        opacity: 0.9;
    }

    .bl-tooltip-arrow {
        position: absolute;
        display: block;
        width: 0.75rem;
        height: 0.375rem;

        &::before {
            position: absolute;
            content: '';
            border-color: transparent;
            border-style: solid;
        }
    }
}

// Wrapper for the tooltip content
.bl-tooltip-content {
    max-width: $tooltip-max-width;
    padding: $tooltip-padding-y $tooltip-padding-x;
    color: $tooltip-color;
    text-align: center;
    background-color: $tooltip-bg;
    box-shadow: $tooltip-box-shadow; // $box-shadow;
    min-height: $tooltip-content-min-height;
    border-radius: $tooltip-border-radius;
}



@mixin tooltip-top-bottom($placement, $main, $opposite) {
    .bl-tooltip-#{$placement} {
        padding-#{$opposite}: $tooltip-arrow-height;

        .bl-tooltip-arrow {
            #{$opposite}: -$tooltip-arrow-height;
            @content;
            &::before {
                #{$main}: 0;
                @if $main == 'top' {
                    border-width: $tooltip-arrow-height ($tooltip-arrow-width / 2) 0;
                } @else {
                    border-width: 0 ($tooltip-arrow-width / 2) $tooltip-arrow-height;
                }
                border-#{$main}-color: $tooltip-arrow-color;
            }
        }
    }
}

@include tooltip-top-bottom('top', 'top', 'bottom') {
    left: calc(100% / 2 - #{$tooltip-arrow-width / 2});
}
@include tooltip-top-bottom('topLeft', 'top', 'bottom') {
    left: $tooltip-un-center-arrow-offset;
}
@include tooltip-top-bottom('topRight', 'top', 'bottom') {
    right: $tooltip-un-center-arrow-offset;
}

@include tooltip-top-bottom('bottom', 'bottom', 'top') {
    left: calc(100% / 2 - #{$tooltip-arrow-width / 2});
}
@include tooltip-top-bottom('bottomLeft', 'bottom', 'top') {
    left: $tooltip-un-center-arrow-offset;
}
@include tooltip-top-bottom('bottomRight', 'bottom', 'top') {
    right: $tooltip-un-center-arrow-offset;
}

@mixin tooltip-left-right($placement, $main, $opposite) {
    .bl-tooltip-#{$placement} {
        padding-#{$opposite}: $tooltip-arrow-height;

        .bl-tooltip-arrow {
            #{$opposite}: -$tooltip-arrow-height;
            width: $tooltip-arrow-height;
            height: $tooltip-arrow-width;
            @content;
            &::before {
                #{$main}: 0;
                @if $main == 'left' {
                    border-width: ($tooltip-arrow-width / 2) 0 ($tooltip-arrow-width / 2) $tooltip-arrow-height;
                } @else {
                    border-width: ($tooltip-arrow-width / 2) $tooltip-arrow-height ($tooltip-arrow-width / 2) 0;
                }
                border-#{$main}-color: $tooltip-arrow-color;
            }
        }
    }
}

@include tooltip-left-right('left', 'left', 'right') {
    top: calc(100% / 2 - #{$tooltip-arrow-width / 2});
}
@include tooltip-left-right('leftTop', 'left', 'right') {
    bottom: $tooltip-un-center-arrow-offset;
}
@include tooltip-left-right('leftBottom', 'left', 'right') {
    top: $tooltip-un-center-arrow-offset;
}

@include tooltip-left-right('right', 'right', 'left') {
    top: calc(100% / 2 - #{$tooltip-arrow-width / 2});
}
@include tooltip-left-right('rightTop', 'right', 'left') {
    bottom: $tooltip-un-center-arrow-offset;
}
@include tooltip-left-right('rightBottom', 'right', 'left') {
    top: $tooltip-un-center-arrow-offset;
}

.bl-tooltip-auto {
    &[x-placement^='top'] {
        @extend .bl-tooltip-top;
    }
    &[x-placement^='right'] {
        @extend .bl-tooltip-right;
    }
    &[x-placement^='bottom'] {
        @extend .bl-tooltip-bottom;
    }
    &[x-placement^='left'] {
        @extend .bl-tooltip-left;
    }
}


