
<div style="height: 300px;position: relative;" class="part">
  <span>普通loading</span>
  <p>
    <button bl-button [blType]="'default'" [blSquare]="false" (click)="showloading()">show loading</button>
  </p>
  <pre><code class="code" lang="typescript" [highlight]="aa"></code></pre>
  <bl-loading bdOpacity=0.7 bdColor="#666" size="medium" color="red" type="ball-beat" [fullScreen]="false">
    <p>加载中...</p>
  </bl-loading>
</div>

<div class="part">
  <app-api-table [apis]="apis"></app-api-table>
</div>
