<thy-dialog-header thyTitle="Install Angular">
  <ng-template #dialogHeader>
    <h3 class="dialog-title">
      我是标题
      <a href="javascript:;"><i class="wtf wtf-question-o modal-info"></i></a>
    </h3>
    <button bl-button [blType]="'warning'" [blSquare]="true" (click)="thyDialog.close()">关闭</button>
  </ng-template>
</thy-dialog-header>

<div class="dialog-body">
  <button bl-button [blType]="'default'" (click)="openSubDialog(subDialog)">打开一个子弹窗</button>
  <span>{{data}}</span>
  <p style="margin: 20px ">
    <button bl-button [blType]="'default'" [blSquare]="true">默认按钮</button>
    <button bl-button [blType]="'warning'" [blSquare]="true">告警按钮</button>
    <button bl-button [blType]="'danger'" [blSquare]="true">危险按钮</button>
    <button bl-button [blType]="'link'" [blSquare]="true">链接按钮</button>
    <button bl-button [blType]="'empty'" [blSquare]="true">空心按钮</button>
  </p>
</div>

<div class="dialog-footer">
  <button blSize="lg" bl-button [blType]="'default'" [blSquare]="false" (click)="thyDialog.close()">确认</button>
  <button blSize="lg" bl-button [blType]="'warning'" [blSquare]="false" (click)="thyDialog.closeAll()">关闭所有</button>
</div>






<!--子弹窗内容-->
<ng-template #subDialog>
  <div class="dialog-header">
    <h3 class="dialog-title">子弹窗</h3>
    <button bl-button [blType]="'default'" [blDisabled]="true" [blSquare]="true" (click)="thyDialog.close()">关闭</button>
  </div>
  <div class="dialog-body">
    子弹窗content
  </div>
  <div class="dialog-footer">
    <button bl-button [blType]="'warning'" [blSquare]="true" (click)="thyDialog.close()">关闭</button>
  </div>
</ng-template>
