
@import './mixin.scss';

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 4px 14px;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    min-width: 70px;
    cursor: pointer;
    margin: 0 10px;

    &:hover {
        cursor: pointer;
    }
}

.btn-default {
    @include button-color(white, #7357FF, #7357FF);
    @include button-size(auto, 30px, 14px);
    line-height: 20px;

    &:hover {
        box-shadow: 0px 2px 5px 1px rgba(115, 87, 255, 0.6);
    }
}

.btn-warning {
    @include button-color(white, #FC5009, #FC5009);
    @include button-size(auto, 30px, 14px);

    &:hover {
        box-shadow: 0px 2px 5px 1px rgba(252, 80, 9, 0.6);
    }
}

.btn-danger {
    @include button-color(white, red, red);
    @include button-size(auto, 30px, 14px);

    &:hover {
        box-shadow: 0px 2px 5px 1px rgba(220, 20, 60, 0.6);
    }
}

.btn-link {
    color: #549DFC;
    background: transparent;
    border: transparent;
    height: auto;
    width: auto;
    &:hover {
        color: #7357FF;
    }
}

.btn-empty {
    @include button-color(#7357FF, white, #7357FF);
    @include button-size(auto, 30px, 14px);

    &:hover {
        box-shadow: 0px 2px 5px 1px rgba(115, 87, 255, 0.6);
    }
}

.btn-md {
    @include button-size(auto, 30px, 14px);
    line-height: 20px;
}

.btn-lg {
    @include button-size(auto, 35px, 15px);
    line-height: 25px;
}

.btn-sm {
    @include button-size(auto, 25px, 13px);
    line-height: 15px;
}

.btn-icon {
    i {
        font-size: 16px;
    }
}

.btn-square-md {
    border-radius: 30px;
}

.btn-square-lg {
    border-radius: 35px;
}

.btn-square-sm {
    border-radius: 25px;
}

.btn-disabled {
    background-color: #ddd;
    border: 1px solid #ddd;
    color: white;
    cursor: not-allowed;

    &:hover {
        cursor: not-allowed !important;
        box-shadow: 0px 2px 5px 1px rgba(221, 221, 221, 0.6);
    }
}

.btn-link-disabled {
    color: #ddd;
    cursor: not-allowed;
}