header {
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    font-weight: 500;
    background-color: salmon;
    color: white;
}
.wrap {
    width: 100%;
    height: 100%;
    nav {
        width: 200px;
        position: absolute;
        height: 100%;
        background-color: white;
        border-right: 1px solid #dddddd;
        li {
            height: 35px;
            text-align: center;
            line-height: 35px;
            font-size: 18px;
            cursor: pointer;
            outline: none;
            margin: 10px 0;
            color: black
        }
        li:hover {
            color: #ffc442;
            background-color: #00FA9A;
        }
    }
    main {
        padding: 15px;
        margin-left: 200px;
        height: 100%;
        background-color: white;
    }
}