header {
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    font-weight: 500;
    background-color: salmon;
    color: white;
}
.wrap {
    width: 100%;
    height: 100%;
    nav {
        width: 200px;
        position: absolute;
        height: 100%;
        background-color: white;
        border-right: 1px solid #dddddd;
        h3 {
            font-weight: 900;
            padding-left: 20px;
            font-size: 28px;
            line-height: 50px;
            margin: 15px 0;
        }
        li {
            height: 35px;
            text-align: center;
            line-height: 35px;
            font-size: 18px;
            cursor: pointer;
            outline: none;
            margin: 5px 0;
            color: black;
            text-align: left;
            padding-left: 30px;
        }
        li:hover {
            color: #dddddd;
            background-color: salmon;
            opacity: 0.9;
        }
        .active {
            background-color: salmon;
            color: #dddddd;
            opacity: 0.9;
        }
    }
    main {
        padding: 15px;
        margin-left: 200px;
        height: 100%;
        background-color: white;
    }
}