<!--The content below is only a placeholder and can be replaced.-->

<div class="wrap">
    <nav>
        <h3 class="title"></h3>
        <p class="sub-title"></p>
        <li [routerLink]="['/button']">按钮</li>
        <li [routerLink]="['/page']">分页</li>
        <li [routerLink]="['/model']">弹窗</li>
        <li [routerLink]="['/loading']">loading</li>
        <!-- <li *ngFor="let item of componentArray" [routerLink]="['/model']">{{item.name}}</li> -->
    </nav>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>












