<!--The content below is only a placeholder and can be replaced.-->
<header>bling bling bling</header>
<div class="wrap">
    <nav>
        <h3 class="title"></h3>
        <p class="sub-title"></p>
        <li [routerLink]="['/button']">按钮</li>
        <li [routerLink]="['/page']">分页</li>
        <li [routerLink]="['/model']">弹窗</li>
        <li [routerLink]="['/loading']">loading</li>
        <li [routerLink]="['/message']">message</li>
    </nav>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>












