<h3></h3>
<p>
  <button bl-button [blType]="'default'" [blSquare]="false">default</button>
  <button bl-button [blType]="'warning'" [blSquare]="true">warning</button>
  <button bl-button [blType]="'danger'"  [blSquare]="true">danger</button>
  <button bl-button [blType]="'link'" [blSquare]="true">link</button>
  <button bl-button [blType]="'empty'" [blSquare]="false" >空心</button>
  <button bl-button [blType]="'empty'" [blSquare]="true" [blDisabled]="true">link</button>
  <button blSize="lg" bl-button [blType]="'empty'" [blSquare]="false">lg按钮</button>
  <button blSize="sm" bl-button [blType]="'empty'" [blSquare]="true">sm按钮</button>
  <button blSize="md" bl-button [blType]="'empty'" [blSquare]="false">默认按钮</button>
</p>




