<p>
  <button bl-button [blType]="'default'" [blSquare]="false">default</button>
  <button bl-button [blType]="'warning'" [blSquare]="true">warning</button>
  <button bl-button [blType]="'danger'"  [blSquare]="true">danger</button>
  <button bl-button [blType]="'link'" [blSquare]="true">link</button>
  <button bl-button [blType]="'danger'" [blDisabled]="true"  [blSquare]="true">disabled</button>
</p>
<p>
  <button blSize="lg" bl-button [blType]="'empty'" [blSquare]="false">lg按钮</button>
  <button blSize="sm" bl-button [blType]="'empty'" [blSquare]="false">sm按钮</button>
  <button blSize="md" bl-button [blType]="'empty'" [blSquare]="false">默认按钮</button>
</p>
