<P>
  <button bl-button [blType]="'warning'" [blSquare]="false"
  blTooltip="Hello, welcome to use WorktileHello, welcome to use WorktileHello, welcome to use WorktileHello, welcome to use WorktileHello, welcome to use WorktileHello, welcome to use WorktileHello, welcome to use WorktileHello, welcome to use Worktile"
  [blTooltipTrigger]="'click'"
  [blTooltipPlacement]="tooltipConfig.placement"
  [blTooltipShowDelay]="tooltipConfig.showDelay"
  [blTooltipHideDelay]="tooltipConfig.hideDelay"
  [blTooltipOffset]="tooltipConfig.offset"
  [blTooltipPin]="tooltipConfig.thyTooltipPin"
>
  click show tootip
</button>
</P>


<p>
  <span
  class="ml-2"
  blTooltip="Hello, welcome to use Worktile"
  [blTooltipTrigger]="'hover'"
  [blTooltipPlacement]="tooltipConfig.placement"
  [blTooltipShowDelay]="tooltipConfig.showDelay"
  [blTooltipHideDelay]="tooltipConfig.hideDelay"
  [blTooltipOffset]="tooltipConfig.offset"
  [blTooltipPin]="tooltipConfig.thyTooltipPin"
>
  hover show tootip
</span>
</p>


<div class="test">
  chenlajdfl 
</div>